<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>HomeHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Exo+2&family=M+PLUS+2:wght@300&family=Montserrat:wght@100;400;900&family=Raleway:wght@100&family=Ubuntu&display=swap"
        rel="stylesheet">
</head>

<body>
    {{#if logged_in}}
    <nav class="navbar is-black p-3" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="/">
                <img src="/images/HomeHub-transparent-fix.png" class="logo-img">
            </a>

            <a role="button" class="navbar-burger is-black" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end is-flex is-align-items-center p-3">
                <a href="/" class="has-text-white is-size-4 p-3">
                    Home
                </a>
                {{#if landlord_id}}
                <a href="/landlord" class="has-text-white is-size-4 p-3 dashboard">
                    Dashboard
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-white is-size-4">Profile</a>

                    <div class="navbar-dropdown">
                        <a href="/landlord/account" class="navbar-item edit-profile">
                            Edit Profile
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" id="logout">
                            Logout
                        </a>
                    </div>
                </div>
                {{else}}
                <a href="/tenant" class="has-text-white is-size-4 p-3 dashboard">
                    Dashboard
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-white is-size-4">Profile</a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" id="logout">
                            Logout
                        </a>
                    </div>
                </div>
                {{/if}}




            </div>
        </div>
    </nav>

    {{else}}

    <nav class="navbar has-background-black p-3" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="/">
                <img src="/images/HomeHub-transparent-fix.png" class="logo-img">
            </a>

            <a role="button" class="navbar-burger is-black" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end is-flex is-align-items-center p-3">
                <a href="#about-us" class="has-text-white is-size-4 p-3">
                    About Us
                </a>
                <a href="#contact" class="has-text-white is-size-4 p-3">
                    Contact
                </a>

            </div>
        </div>
    </nav>

    {{/if}}

    <main>
        {{{body}}}
    </main>

    <footer class="has-background-black p-6 has-text-centered footer">
        <p class="has-text-white is-size-5">&copy 2023 HomeHub</p>
    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

    <script src="/js/navbar.js"></script>

</body>

</html>