<section class="hero is-large is-info">
    <div class="hero-body">
        <div class="column is-one-third">
            <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae mollis magna.
                Quisque
                egestas pulvinar efficitur.</p>
            <div class="has-text-centered">
                <a href="/login" class="button is-black is-medium m-3">Login</a>
                <a href="/signup" class="button is-black is-medium m-3">Signup</a>
            </div>
        </div>
    </div>
</section>