<div class="dashboard-styles">
    <header>
        <h1 class="is-size-2 has-text-centered m-4">{{name}}'s Dashboard</h1>
    </header>

    <hr>

    {{!-- <div class="columns is-flex is-flex-wrap-wrap is-justify-content-space-around m-5">
        <a href="/landlord/properties" class="is-two-fifths column">
            <div class="box landlord-box property-box is-flex is-justify-content-center is-align-items-center">
                <h2 class="has-text-white is-size-3 has-background-black box-text p-2">Your Properties</h2>
            </div>
        </a>
        <a href="/landlord/maintenance" class="is-two-fifths column">
            <div class="box landlord-box maintenance-box is-flex is-justify-content-center is-align-items-center">
                <h2 class="has-text-white is-size-3 has-background-black box-text p-2">Maintenance</h2>
            </div>
        </a>
    </div> --}}

    <div class="columns is-flex is-flex-wrap-wrap is-justify-content-space-around m-5">

        <div class="card-body columns is-flex is-flex-wrap-wrap is-justify-content-space-around m-5">
            <div class="is-one-fifths column card">
                <div class="card-image">
                    <figure>
                        <a href="/landlord/properties">
                            <img src="/images/rental01.png" alt="properties-icon" style="height:200px;width:200px;">
                        </a>
                    </figure>
                </div>
                <div class="content">
                    <p class="title is-6">Your Properties</p>
                </div>
            </div>
        </div>

        <div class="card-body columns is-flex is-flex-wrap-wrap is-justify-content-space-around m-5">
            <div class="is-one-fifths column card">
                <div class="card-image">
                    <figure>
                        <a href="/landlord/maintenance">
                            {{#if open_tickets}}
                            <img src="/images/maintenance-icon-status.png" alt="maintenance icon open"
                                style="height:200px;width:200px;">

                            {{else}}
                            <img src="/images/maintenance-icon.png" alt="maintenance icon closed"
                                style="height:200px;width:200px;">
                            {{/if}}
                        </a>
                    </figure>
                </div>
                <div class="content">
                    <p class="title is-6">Maintenance Tickets</p>
                </div>
            </div>
        </div>

        <div class="card-body columns is-flex is-flex-wrap-wrap is-justify-content-space-around m-5">
            <div class="is-one-fifths column card">
                <div class="card-image">
                    <figure>
                        <a href="/landlord/posts">
                            <img src="/images/mail-icon-01.png" alt="properties-icon" style="height:200px;width:200px;">
                        </a>
                    </figure>
                </div>
                <div class="content">
                    <p class="title is-6">Your Messages</p>
                </div>
            </div>
        </div>

        <div class="card-body columns is-flex is-flex-wrap-wrap is-justify-content-space-around m-5">
            <div class="is-one-fifths column card">
                <div class="card-image">
                    <figure>
                        <a href="/landlord/account">
                            {{!-- <a class="js-update-trigger" data-target="modal-update-form"> --}}
                                <img src="/images/update-profile-icon.png" alt="add-ticket-icon"
                                    style="height:200px;width:200px;">
                            </a>
                    </figure>
                </div>
                <div class="content">
                    <p class="title is-6">Update Your Profile</p>
                </div>
            </div>
        </div>

    </div>
</div>