<header>
  <h1 class="is-size-2 has-text-centered m-4">Dashboard</h1>
</header>

<hr>

<div class="columns is-flex is-flex-wrap-wrap is-justify-content-space-around m-5">
  <a href="/properties" class="is-two-fifths column">
    <div class="box landlord-box property-box is-flex is-justify-content-center is-align-items-center">
      <h2 class="has-text-white is-size-3 has-background-black box-text p-2">Your Properties</h2>
    </div>
  </a>
  <a href="/maintenance" class="is-two-fifths column">
    <div class="box landlord-box maintenance-box is-flex is-justify-content-center is-align-items-center">
      <h2 class="has-text-white is-size-3 has-background-black box-text p-2">Maintenance</h2>
    </div>
  </a>
</div>


{{!-- <script src="./js/new-tenant.js"></script> --}}