<div class="login-signup-form is-flex is-justify-content-center is-align-items-center">
    <form class="box column is-half form login-form">
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input class="input form-input" type="email" id="email-login" placeholder="e.g. johndoe@example.com">
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" placeholder="********" id="password-login">
            </div>
        </div>

        <button class="button is-black landlord-signin-btn" data-landlord="true">Sign in as landlord</button>
        <button class="button is-black tenant-signin-btn" data-tenant="true">Sign in as tenant</button>
        <p class="p-2">Not a Member?<a href="../signup"> Signup</a></p>
    </form>
</div>

<script src="./js/login.js"></script>