<div class="login-form is-flex is-justify-content-center is-align-items-center">
    <form class="box column is-half">
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input class="input" type="email" placeholder="e.g. johndoe@example.com">
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" placeholder="********">
            </div>
        </div>

        <button class="button is-black">Sign in</button>
        <p>Not a Member?<a href="/signup"> Signup</a></p>
    </form>
</div>