    <h2 class="log-header my-3">Landlord Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label>Email:</label>
        <input class="form-input my-3" type="email" id="email-login"/>
      </div>
      <div class="form-group">
        <label for="password-login my-3">Password:</label>
        <input class="form-input my-3" type="password" id="password-login"/>
      </div>
      <div class="form-group">
        <button class="btn my-3" type="submit" id="login-btn">Login</button>
      </div>
      <a href="/signup">Sign Up instead</a>
    </form>

<script src="./js/login.js"></script>
