    <h2 class="log-header my-3">Landlord signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label>Email:</label>
        <input class="form-input my-3" type="email" id="email-signup"/>
      </div>
      <div class="form-group">
        <label>Name:</label>
        <input class="form-input my-3" type="text" id="name-signup"/>
      </div>
      <div class="form-group">
        <label for="password-login my-3">Password:</label>
        <input class="form-input my-3" type="password" id="password-signup"/>
      </div>
      <div class="form-group">
        <button class="btn my-3" type="submit" id="login-btn">Sign up</button>
      </div>
      <a href="/signup">Login instead</a>
    </form>

<script src="./js/signup.js"></script>
