        <div class="card-body">
            <p>{{unit.address}}</p>
            <p>Vacant: {{unit.is_vacant}}</p>
            <p>Rent Cost: {{unit.rent_cost}}</p>
            <p>Tenant: {{unit.tenant}}</p>
            <p>Maintenance:</p>
        {{> maintenance }}
        </div>
