@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    margin: 0;
}

/* logo image styles */
.logo-img {
    padding-left: 2rem;
    height: 70px;
    width: 200px;
}

/* navbar styles */
.navbar-menu.is-active {
    background-color: black;
}

/* homepage styles */
.hero {
    background-image: url('../images/hero-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-us {
    height: 100vh;
}

.contact {
    background-image: url('../images/contact-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* login styles */
.login-signup-form {
    height: 80vh;
}

.login-signup {
    background-image: url('../images/BW-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}


/* landlord styles */
.landlord-box {
    height: 30rem;
}

.property-box {
    background-image: url('../images/landlord-img-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.maintenance-box {
    background-image: url('../images/landlord-img-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box-text {
    border-radius: 10%;
}

.is-horizontal-center {
    justify-content: center;
}

/* dashboard styles */
.dashboard-styles {
    background-image: url('../images/w-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

/* media queries */
@media screen and (max-width: 768px) {
    .hero {
        text-align: center;
        background-position: center;
        height: auto;
    }

    .about-us {
        display: flex;
        flex-wrap: wrap;
        font-size: 0.5rem;
        height: auto;
    }

    .contact {
        height: auto;
        width: auto;
        background-position: center;
    }

    .form-input {
        height: auto;
        width: auto;
    }

    .form-textarea {
        height: auto;
        width: auto;
    }

    .contact-form {
        height: auto;
        width: auto;
        margin: 1.5rem;
    }
}

@media screen and (max-width:1200px) {
    .about-us {
        height: auto;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        font-size: auto;
    }


}